<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>This is home page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<div class="container" style="text-align: justify;">
		</br> <br> <br>
		<div class="alert alert-danger">
			<strong>Sorry</strong> Invalid Credentials.
		</div>
		<a th:href="@{/memberHome}"> Back to Member Portal</a>
	</div>



</body>
</html>

